/* Change the height of items and set minimum width in side navigation bar */
#side-nav {
  --tree-item-height: 1.4rem;
  min-width: 50px !important;
  background: var(--page-background-color) !important;
}

/* Change the navigation tree arrow type, arrow is changed to circle in the head_script.js file */
#side-nav #nav-tree-contents span.arrow {
  font-size: 1.2rem !important;
  padding-bottom: 0.2em;
  visibility: visible !important;
  opacity: 1 !important;
}

/* Gets rid of the small blue bar on the very left of the selected and/or current item in tree */
#side-nav #nav-tree-contents .item.selected::after,
#side-nav #nav-tree-contents .item.current::after {
  content: none !important;
}

/* Undo any special changes to the selected and/or current item */
#side-nav #nav-tree-contents .item.selected *,
#side-nav #nav-tree-contents .item.current * {
  font-weight: normal !important;
  text-shadow: none !important;
  color: inherit !important;
}

/* Apply custom changes to selected and/or current item */
#side-nav #nav-tree-contents .item.selected,
#side-nav #nav-tree-contents .item.current {
  color: var(--page-foreground-color) !important;
  width: calc(100% - 10px) !important;
  margin-left: 5px !important;
  padding: 4px 0px !important;
  border-radius: 6px !important;
}

html:not(.dark-mode) #side-nav #nav-tree-contents .item.selected,
html:not(.dark-mode) #side-nav #nav-tree-contents .item.current {
  background-color: rgba(20, 110, 210, 0.35) !important;
}

html.dark-mode #side-nav #nav-tree-contents .item.selected,
html.dark-mode #side-nav #nav-tree-contents .item.current {
  background-color: rgba(20, 250, 250, 0.3) !important;
}

#side-nav #nav-tree-contents .item > a {
  margin-left: -10px !important;
}

#side-nav #nav-tree-contents .item.selected > a,
#side-nav #nav-tree-contents .item.selected > a {
  margin-left: -15px !important;
}

#side-nav #nav-tree-contents .item:not(:has(>a)) > .label {
  margin-left: -10px !important;
}

#side-nav #nav-tree-contents .item.selected:not(:has(>a)) > .label,
#side-nav #nav-tree-contents .item.current:not(:has(>a)) > .label {
  margin-left: -15px !important;
}

/* Change the values so that on non-common display sizes it appears correctly */
html,
body {
  min-height: -webkit-fill-available;
  overflow-x: hidden;
  overflow-y: hidden;
}

/* Nudge the width if necessary (again for non-common display sizes) */
#content {
  width: calc(100% - var(--sidebar-width) + 1px) !important;
}