/* Change the height of items and set minimum width in side navigation bar */
#side-nav {
  /* Height of individual items (default is 30px which is around 2rem) */
  --tree-item-height: 1.4rem;
  /* Set minimum width of navigation bar so that it behaves better on touch screens */
  min-width: 50px !important;
  /* Set navigation bar background color to general background color, changes with theme */
  background: var(--page-background-color) !important;
}

/* Change the navigation tree arrow type, arrow is changed to circle in the head_script.js file */
#side-nav #nav-tree-contents span.arrow {
  /* Change font size to better match the rest of the text in the item */
  font-size: 1.2rem !important;
  /* Add a little padding to vertically center it */
  padding-bottom: 0.2em !important;
  /* By default it is not always visible which makes it only visible on hover */
  visibility: visible !important;
  /* By default opacity is changing based on hover, to make it always visible change opacity to 1 */
  opacity: 1 !important;
}

/* Gets rid of the small blue bar on the very left of the selected and/or current item in tree */
#side-nav #nav-tree-contents .item.selected::after,
#side-nav #nav-tree-contents .item.current::after {
  /* The small blue bar is added as 'after' element and so remove it here */
  content: none !important;
}

/* Undo any special changes to the selected and/or current item */
#side-nav #nav-tree-contents .item.selected *,
#side-nav #nav-tree-contents .item.current * {
  /* By default selected item has bold font so revert it */
  font-weight: normal !important;
  /* No text shadow looks better in current theme */
  text-shadow: none !important;
  /* Change the color to whatever is the default for the parent */
  color: inherit !important;
}

/* Apply custom changes to selected and/or current item */
#side-nav #nav-tree-contents .item.selected,
#side-nav #nav-tree-contents .item.current {
  /* Changes the text color */
  color: rgb(255, 255, 255) !important;
  /* Set the width to 10px less than nav bar width to draw the rounded rectangle */
  width: calc(100% - 10px) !important;
  /* Rounded border looks modern */
  border-radius: 6px !important;
  /* Margin on left to move the rounded rectangle to a little bit to right */
  margin-left: 5px !important;
  /* Top margin to give rounded rectangle some separation from the previous item */
  margin-top: 4px !important;
  /* Padding on top makes the rounded rectangle have bigger top part */
  padding-top: 4px !important;
  /* Margin on bottom gives the rounded some extra separation from the item below it */
  margin-bottom: 2px !important;
  /* Padding on bottom gives the rounded rectangle extra height below the text */
  padding-bottom: 5px !important;
}

/* Changing the selection rounded rectangle's background color only for light theme */
html:not(.dark-mode) #side-nav #nav-tree-contents .item.selected,
html:not(.dark-mode) #side-nav #nav-tree-contents .item.current {
  /* Background color for selection rounded rectangle */
  background-color: rgba(20, 110, 210) !important;
}

/* Changing the selection rounded rectangle's background color only for dark theme */
html.dark-mode #side-nav #nav-tree-contents .item.selected,
html.dark-mode #side-nav #nav-tree-contents .item.current {
  /* Background color for selection rounded rectangle */
  background-color: rgba(20, 110, 210) !important;
}

/* This moves the expand/collapse icon 10px to left, since we removed the top item in the 
head_script.js file it is necessary to move all items a bit to the left. This also moves text. */
#side-nav #nav-tree-contents .item>a {
  /* -10px will move the left margin more towards left */
  margin-left: -10px !important;
}

/* This moves the expand/collapse icon 15px to left for the selected item, since we removed 
the top item in the head_script.js file it is necessary to move all items a bit to the left. 
And since we moved the margin 5px to right above we have to move the icon 5px to left here
so that it aligns with all other items. This also moves the text along. */
#side-nav #nav-tree-contents .item.selected>a,
#side-nav #nav-tree-contents .item.selected>a {
  /* -15px will move the left margin more towards left */
  margin-left: -15px !important;
}

/* For items that are a leaf node, there are no icons and so the above two rules do not apply.
Because of how Doxygen makes the items we have to apply the same rule as above but now to the
label which is the displayed text. But applying to label will also move the label of items that
has expand collapse icons, but we already moved their labels when we moved the icon so now we
have to exclude them.*/
#side-nav #nav-tree-contents .item:not(:has(>a))>.label {
  /* -10px will move the left margin more towards left */
  margin-left: -10px !important;
}

/* Same as above but just for the selected item because we have to move it 15 px to left */
#side-nav #nav-tree-contents .item.selected:not(:has(>a))>.label,
#side-nav #nav-tree-contents .item.current:not(:has(>a))>.label {
  /* -15px will move the left margin more towards left */
  margin-left: -15px !important;
}

/* Change the values so that on non-common display sizes it appears correctly */
html,
body {
  min-height: -webkit-fill-available;
  overflow-x: hidden;
  overflow-y: hidden;
}

/* Nudge the width if necessary (again for non-common display sizes) */
#content {
  width: calc(100% - var(--sidebar-width) + 1px) !important;
}

